<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ordolabs.clipit">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ClipItApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"> <!-- TODO: delete before release -->

        <service
            android:name=".data.service.ClipboardListenerService"
            android:enabled="true"
            android:process=":ClipboardListenerServiceProcess"/>

        <receiver
            android:name=".data.utils.ServiceAwakenerBR"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.REAWAKE_SERVICE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.HomeActivity">
        </activity>

        <activity
            android:name=".ui.clip.ClipActivity">
        </activity>

        <activity
            android:name=".ui.edit.EditActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>


    </application>

</manifest>